div {
  font-family: 'Roboto';
}

.music-banner {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  padding-left: 100px;
  line-height: 0.1;
}

.player-name {
  color: #ffffff;
  font-size: 40px;
}

.player-role {
  font-size: 35px;
  color: #ffffff;
}

.music-playlist-container {
  background-color: #152850;
  padding: 30px;
  height: 100vh;
}

.songs-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-songs-heading {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 35px;
}

.input-container {
  background-color: transparent;
  border: 1px #cbd5e1 solid;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 35px;
}

input {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.failure-description {
  color: white;
  font-weight: 600;
  font-size: 40px;
}

ul {
  overflow-y: auto;
  height: 70vh;
}
